<div>
    <div class="margin-b-2">
        <h5><strong>Assignment</strong></h5>
    </div>

    <div class="margin-b-2">
        For value received, the undersigned Seller, by its authorized representative, hereby sells, assigns, and
        transfers to Time Investment Company, Inc. all his right, title, and conditions of this Installment Sales
        Contract and, or Sales Slip, pursuant to the terms and conditions, of the Credit Agreement, and to the
        merchandise, goods, or services therein described, with right of recourse as set forth in the Dealer Agreement
        between Seller and Evergreen Bank Group. The undersigned Seller represents and warrants that the Installment
        Sales Contract and, or Sales Slip and Credit Agreement are valid and in full force and effect according to their
        terms, that the credit information given therein is true to the best of Seller's knowledge and belief, and that
        the Installment Sales Contract and, or Sales Slip and Credit Agreement are the only and entire agreements made
        with Buyer on the premises. Seller represents and warrants that Seller is engaged in providing Buyer with an
        Installment Sales Contract and, or credit plan pursuant to the Credit Agreement and that this Sales Slip is made
        pursuant to such credit plan agreement. Seller represents and warrants that the Installment Sales Contract and,
        or Sales Slip and Credit Agreement comply with applicable state and federal law. Seller shall keep and maintain
        the Installment Sales Contract and, or Credit Agreement with Buyer in full force and effect subject to its terms
        and conditions and Buyer's compliance with such terms and conditions.
    </div>
</div>