<div>
    <div class="margin-b-2">
        <h5><strong>Certificate of Completion</strong></h5>
    </div>

    <div class="margin-b-1">
        WARNING TO THE BUYER – DO NOT SIGN THIS CERTIFICATE UNTIL ALL SERVICES HAVE BEEN SATISFACTORILY PERFORMED AND
        MATERIALS SUPPLIED OR GOODS RECEIVED ARE FOUND SATISFACTORY.
    </div>

    <div class="margin-b-2">
        <div class="margin-b-05">The undersigned Buyers herby:</div>
        <div class="margin-b-1">A. Certify that all goods and/or services sold to us by Kearny Mesa Toyota (Seller)
            under a credit sales
            agreement dated Sep 30, 2020 11:58:31 AM have been delivered and installed by Seller.
        </div>
        <div class="margin-b-1">B. Acknowledge that the equipment has been purchased by us and has not been furnished to
            us on a ‘trial’
            basis.
        </div>
        <div class="margin-b-1">C. Certify that we own the real estate located at 123 Ocean Street , San Diego, CA 92122
            and that the
            equipment
            has been installed at this address.
        </div>
        <div class="margin-b-1">D. Acknowledge and understand that: (1) a credit sales agreement evidences our
            indebtedness and (2) if we
            had
            the right to cancel this agreement, without penalty, after receiving notice from Seller of our right to do
            so,
            we did not exercise that right on the date of this certificate (home solicitation sales only).
        </div>
        <div class="margin-b-1">
            <strong>NOTICE TO OWNER:</strong> Do not sign this completion certificate or any agreement stating that you
            are
            satisfied with the entire project before this project is complete. Home repair contractors are prohibited by
            law
            from requesting or accepting a Certificate of Completion signed by the owner prior to the actual completion
            of
            the work to be performed under the home repair contract.
        </div>
        <div class="margin-b-1">
            <strong>NOTICE TO BUYERS:</strong> Do not sign this document until you have read it and all of the
            statements
            made by you are true and correct.
        </div>
    </div>

    <div class="margin-b-2 text-center">
        <strong>SELLER’S CERTIFICATE</strong>
    </div>

    <div class="margin-b-2">
        <div>
            The undersigned hereby represents and certifies to any assignee of said agreement that:
        </div>
        <div class="margin-b-1">
            A. All of the goods and services provided for in the above described credit sales agreement have been
            delivered and performed in a workmanlike manner and in accordance with the terms of said agreement.
        </div>
        <div class="margin-b-1">
            B. The Buyers named in said agreement did not exercise their right to cancel said agreement after having
            received, prior to the delivery of any part of the goods and/or performance of any part of the services
            contracted for, due and proper notice of the existence of their right to do so.
        </div>
        <div class="margin-b-1">
            C. All debts for labor, material, license fees, permits, inspection fees and other bills pertaining to said
            agreement have been or will be within 30 days paid in full. All liens or claims or rights of lien arising
            out of the credit sales agreement have been waived and released and there is no outstanding indebtedness
            which might result in a lien on the ‘property improved’ as a result of said agreement other than the
            agreement and real estate mortgage, if any, executed by the Buyers.
        </div>
    </div>
</div>