<div>
    <div class="margin-b-2">By submitting this credit application, I, the dealer salesperson, represent and agree to the following:
    </div>

    <div>The application information is true and correct in all respects.</div>
    <div>I made the applicant(s) aware they are applying for credit.</div>
    <div>The applicant(s) were provided with all disclosures required by applicable federal, state and local law.</div>
    <div>The applicant(s) acknowledge and agree to provide identity verification information to lenders.</div>
    <div>The applicant(s) consent to sharing credit application information to lenders.</div>
    <div>The applicant(s) authorize lenders to share credit application information with third parties, including credit
        reporting agencies and our contracting company.
    </div>
    <div>If application contains information regarding a co-applicant, both applicants have clearly expressed their
        intent to apply jointly for credit.
    </div>
</div>